body{
    background-color: #353636;
    text-align: center;
    color: rgb(234, 248, 31);
}



div{
    
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 15px 32px;
    margin-top: 5%;
    height: 300px;
}

button{
    border: 2px solid gray;
    border-radius: 26px;
    background-color: rgb(234, 248, 31);
    height: 30px;
    margin-top: 5px;
    color: rgb(10, 6, 6);
}

button:hover{
    background-color: rgb(10, 6, 6);
    color: rgb(234, 248, 31);
    border: 2px solid white;
    transform: rotate(-3deg);
    cursor: pointer;
}


table{
    text-align: left;
    color: rgb(234, 248, 31);
}